extends layout/layout.pug

block content
    .row
        .col
            h1
                | Header
            p
                | Paragraph
            img.img-fluid(src="img/IMG_20190422_110748-01.jpeg")